@import "fonts.css";

@mixin btn-stile {
  font-family: Chivo-Bold;
  text-transform: uppercase;
  background: rgb(0, 254, 56);
  background: linear-gradient(180deg, rgba(0, 254, 56, 1) 0%, rgba(82, 229, 122, 1) 40%, rgba(64, 130, 31, 1) 100%);
  border: 1px solid;
  border-radius: 10px;
  padding: 14px 45px;
  box-shadow: none;
}

.btn-prise-active {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(213, 212, 213, 1) 100%) !important;
}

header {
  background: #8a8a8a;

  span {
    font-family: SofiaPro-Light;
    font-size: 15px;
    color: #fff;
  }

  span.timer-news {
    i {
      font-size: 21px;
    }
  }
}

section.banner-product {
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: url("../images/bg-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  a.btn-top-banner {
    @include btn-stile;
    font-size: 18px;
    box-shadow: none !important;
    float: right;
    color: white;
  }

  h1 {
    font-family: SofiaPro-Black;
    font-size: 30px;
    color: #cf4877;
    margin: 0;
  }

  p {
    font-family: SofiaPro-Black;
    font-size: 37px;
    color: #cf4877;
  }

  .product-img {
    img {
      position: absolute;
      width: 300px;
      left: -20px;
    }
  }

  .product-text {
    margin-bottom: 80px;

    h2 {
      font-family: SofiaProSemi-Bold;
      font-size: 33px;
      margin-bottom: 20px;

      span {
        font-family: PlayfairDisplay-Regular;
      }
    }

    ul {
      width: 85%;

      li {
        list-style: none;
        font-family: SofiaPro-Light;
        font-size: 24px;
        display: flex;
        align-items: baseline;
        margin-bottom: 15px;
        line-height: 28px;

        &:before {
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 24px;
          margin-right: 18px;
          color: #de5e8f;
        }
      }
    }
  }

  .product-btn-bottom {
    a.btn.btn-primary.active {
      @include btn-stile;
      font-size: 30px;
      padding: 12px 70px;
      margin-bottom: 15px;
    }
  }

  .img-security {
    img {
      width: 18em;
    }
  }
}

section.logo-company {
  padding-top: 80px;
  padding-bottom: 70px;
  background-image: url(../images/bg-1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  h6 {
    margin: 0;
    font-family: SofiaPro-Medium;
    font-size: 40px;
  }
}

section.product-description {
  padding-top: 80px;
  padding-bottom: 85px;

  .product-img {
    img {
      width: 100%;
    }
  }


  p {
    padding: 0 15%;
    text-align: center;
    font-family: SofiaPro-Light;
    font-size: 23px;
  }
}

section.product-advantages {
  .wrapper-composition {
    height: 100%;
    background: #f5d4da;
    padding: 65px 45px 30px 70px;


    .title-ingredients {
      h3 {
        text-align: center;
        font-family: SofiaProSemi-Bold;
        font-size: 42px;

        span {
          font-family: PlayfairDisplay-Regular;
        }
      }

      p {
        font-family: SofiaPro-Regular;
        font-size: 16px;
        text-align: center;
        color: #f18399;
      }
    }

    ul {
      list-style: none;

      li.ingredients {
        margin-right: 40px;
        margin-bottom: 20px;

        h6 {
          font-family: SofiaProSemi-Bold;
          font-size: 19px;
          color: #666666;

          &:before {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            left: 50px;
          }
        }

        p {
          font-family: SofiaPro-Light;
          font-size: 19px;
          color: #666666;
        }

        &:last-child {
          margin-bottom: 45px;
        }
      }

      li.item {
        margin-bottom: 25px;
        font-family: SofiaProSemi-Bold;
        font-size: 19px;
        text-align: center;
        color: #f18399;
      }

      li.no-ingredients {
        h6 {
          font-family: SofiaProSemi-Bold;
          font-size: 19px;
          color: #666666;

          &:before {
            content: "\f00d";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            left: 50px;
          }
        }

        p {
          font-family: SofiaPro-Light;
          font-size: 19px;
          color: #666666;
        }
      }
    }
  }

  .wrapper-using {
    height: 100%;
    padding: 100px 20px 0;
    background: #f5d4da;

    .title-using {
      margin-bottom: 50px;

      h3 {
        font-family: SofiaProSemi-Bold;
        font-size: 42px;
        text-align: center;
        margin-bottom: 30px;
      }

      p {
        font-family: SofiaPro-Light;
        font-size: 19px;
        color: #666666;
        text-align: center;
        line-height: 21px;

        span {
          font-family: SofiaPro-Regular;
          font-size: 19px;
          text-align: center;
          color: #f18399;
        }
      }

      img {
        width: 100%;
      }
    }

    h3 {
      font-family: SofiaProSemi-Bold;
      font-size: 42px;
      text-align: center;
      margin-bottom: 70px;
    }

    p {
      font-family: SofiaPro-Light;
      font-size: 19px;
      color: #666666;
    }

    p.item {
      font-family: SofiaPro-Regular;
      font-size: 19px;
      color: #f18399;
      padding: 30px 0;
    }

  }
}

section.product-reviews {
  padding-top: 80px;
  padding-bottom: 60px;

  h2 {
    text-align: center;
    font-family: SofiaPro-Medium;
    font-size: 42px;
    margin-bottom: 70px;
  }

  .user-text {
    background-color: #f18399;
    padding: 35px 50px 0;
    height: 250px;
    overflow: hidden;

    p {
      font-family: SofiaPro-Medium;
      font-size: 14px;
      text-align: center;
      color: white;

      sup {
        font-size: 15px;
      }

      span {
        font-size: 15px;
      }
    }

    img {
      position: absolute;
      left: 38%;
      top: 47%;
    }
  }

  .user-info {
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 10px;
  }
}

section.product-buy {
  padding-top: 60px;
  padding-bottom: 60px;

  h2 {
    font-size: 42px;
    margin-bottom: 110px;
  }

  .card-wrapper {
    margin-bottom: 100px;

    .card-product {
      width: 370px;
      background: white;
      -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);

      .buy-block {
        border-top: 24px solid #f5d4da;
        padding-top: 30px;
        padding-bottom: 30px;

        h3 {
          font-family: SofiaProSemi-Bold;
          color: #666666;
          font-size: 34px;

          sup {
            font-size: 60%;
          }
        }

        h3.item {
          display: inline;
          border-bottom: 3px solid;
        }

        img.img-product {
          width: 100%;
          height: 190px;
        }

        p {
          font-family: SofiaPro-Light;
          color: #666666;
          line-height: 10px;
          font-size: 19px;
        }

        p.old-prise {
          font-family: SofiaProSemi-Bold;

          span {
            position: relative;

            &:before {
              content: "";
              border-bottom: 2px solid;
              display: inline-block;
              width: 70px;
              position: absolute;
              top: 14px;
            }
          }
        }

        .btn-prise-group {
          border: 6px solid #d5d4d5;
          border-radius: 40px;
          width: 100%;
          overflow: hidden;

          .btn-prise {
            padding-top: 10px;
            padding-bottom: 10px;
            width: 50%;
            background: rgb(255, 255, 255);
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(213, 212, 213, 1) 100%);

            label {
              width: 100%;

              span {
                font-family: SofiaPro-Medium;
                font-size: 13px;
                line-height: 17px;
                color: #484848;

                span.prise {
                  font-size: 28px;
                }
              }
            }

            &:first-child {
              border-right: 3px solid #d5d4d5;
            }

            &:last-child {
              border-left: 3px solid #d5d4d5;

              input {
                right: 0;
              }
            }
          }
        }

        a.btn.btn-block {
          color: white;
          background: #f18399;
          font-family: SofiaProSemi-Bold;
          font-size: 18px;
          text-transform: uppercase;
          letter-spacing: 6px;
          box-shadow: none;
          border-radius: 0;
        }
      }
    }

    .product-box-1 {
      background: #f0f0f0;
      opacity: 0.7;

      &:hover {
        transition: 0.7s;
        opacity: 1;
        background: white;
        transform: matrix(1.1, 0, 0, 1.1, -60, 0);
      }
    }

    .product-box-2 {
      transform: scale(1.18);
      z-index: 2;
    }

    .product-box-3 {
      background: #f0f0f0;
      opacity: 0.7;

      &:hover {
        transition: 0.7s;
        opacity: 1;
        background: white;
        transform: matrix(1.1, 0, 0, 1.1, 60, 0);
      }
    }
  }

  .btn-block {
    a.btn.btn-primary.active {
      @include btn-stile;
      font-size: 26px;
    }

    img {
      width: 17em;
      height: 3em;
    }
  }
}

footer {
  p.top {
    background: #000;
    color: white;
    text-transform: uppercase;
    font-family: SofiaProSemi-Bold;
    margin-bottom: 30px;
  }

  p.social {
    font-family: SofiaProSemi-Bold;
    font-size: 23px;
  }

  ul {
    li {
      list-style: none;
      margin-right: 35px;
    }
  }

  p.copyright {
    color: #7a7a7a;
    font-family: SofiaPro-Light;
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {

  section.banner-product {
    background-position: -18em center;

    h1 {
      font-size: 25px;
    }

    .product-text {
      h2 {
        font-size: 27px;
      }
    }

    .product-btn {
      margin: 0;
    }

    .product-img {
      img {
        width: 260px;
        left: -60px;
      }
    }
  }

  section.logo-company {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  section.product-buy {
    .card-wrapper {
      flex-direction: column;
      align-items: center;

      .card-product {
        margin-bottom: 15px;
        transform: none;
        z-index: auto;
        opacity: 1;
        background: white;
        width: 50%;

        &:hover {
          transform: none;
        }
      }
    }
  }

}

@media screen and (max-width: 768px) {
  section.banner-product {
    background-position: -20em 0em;
    background-size: 191%;

    h1 {
      font-size: 21px;
    }

    p {
      font-size: 22px;
    }

    .product-img {
      img {
        width: 215px;
        left: -39px;
        top: 57px;
      }
    }

    .product-text {
      h2 {
        font-size: 22px;
      }

      ul {
        li {
          font-size: 18px;
        }
      }
    }

    .product-btn-bottom {
      a.btn.btn-primary.active {
        font-size: 24px;
      }
    }
  }

  section.logo-company {
    h6 {
      font-size: 26px;
    }
  }

  section.product-advantages {
    .wrapper-using {
      padding-bottom: 50px;
    }
  }

  section.product-reviews {
    .user-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;

      .user-text, .user-info {
        width: 75%;

        img {
          left: 43%;
        }
      }
    }
  }

  section.product-buy {

    .card-wrapper {
      margin-bottom: 35px;

      .card-product {
        width: 75%;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  header {
    span {
      font-size: 13px;
    }
  }

  section.banner-product {
    background-image: url("../images/bg-top-mob17.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0em -3em;

    img.logo {
      width: 100px;
    }

    a.btn-top-banner {
      font-size: 19px;
      padding: 10px 23px;
    }

    p {
      font-size: 30px;
      line-height: 1;
    }

    .product-img {
      img {
        width: 265px;
        left: -47px;
        top: 65px;
      }
    }

    .product-text {
      margin-bottom: 0;

      h2 {
        text-align: center;
        font-size: 27px;
        margin-bottom: 7em;
      }

      ul {
        width: 100%;
        padding-left: 40%;

        li {
          font-size: 15px;
          line-height: 14px;

          &:before {
            font-size: 17px;
          }
        }
      }
    }

    .product-btn-bottom {
      a {
        display: block;
      }
    }

    .img-security {
      img {
        width: 15em;
      }
    }

  }

  section.logo-company {
    background-size: auto;
    background-position: 0 center;
  }

  section.product-description {
    padding-top: 15px;
    padding-bottom: 25px;

    p {
      padding: 0;
      font-size: 19px;
      line-height: 22px;
    }
  }

  section.product-advantages {
    .wrapper-composition {
      padding: 30px 0;

      .title-ingredients {
        h3 {
          font-size: 32px;
        }

        p {
          padding-left: 20%;
          padding-right: 20%;
        }
      }

      ul {
        padding-left: 75px;

        li.item {
          text-align: left;
        }
      }
    }

    .wrapper-using {
      padding: 30px 15px;

      .title-using, .subtitle-using {
        h3 {
          font-size: 32px;
        }
      }
    }
  }

  section.product-reviews {
    h2 {
      font-size: 27px;
    }

    .user-card {
      .user-text, .user-info {
        width: 100%;

        img {
          left: 39%;
        }
      }
    }
  }

  section.product-buy {
    padding-top: 0;

    h2 {
      font-size: 32px;
      margin-bottom: 25px;
    }

    .card-wrapper {
      .card-product {
        width: 100%;
      }
    }

    .btn-block {
      a {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  section.banner-product {
    background-position: 0em -2em;

    h1 {
      font-size: 18px;
    }

    p {
      font-size: 28px;
    }

    .product-text {
      h2 {
        font-size: 24px;
      }
    }

    .product-img {
      img {
        width: 250px!important;
      }
    }

  }

  footer {
    p.copyright {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 360px) {
  section.banner-product {
    .product-img {
      img {
        width: 250px;
        left: -47px;
        top: 65px;
      }
    }

    .product-btn-bottom {
      a.btn.btn-primary.active {
        font-size: 20px;
      }
    }
  }

  section.product-buy {
    .btn-block {
      a.btn.btn-primary.active {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  header {
    .text-center {
      line-height: 1;
    }
  }

  section.banner-product {
    background-position: 0em -1em;

    img.logo {
      width: 85px;
    }

    a.btn-top-banner {
      font-size: 14px;
    }

    h1 {
      font-size: 14px;
    }

    p {
      font-size: 22px;
    }

    .product-img {
      img {
        width: 220px;
        left: -40px;
        top: 74px;
      }
    }

    .product-text {
      h2 {
        font-size: 21px;
      }

      ul {
        li {
          font-size: 14px;

          &:before {
            font-size: 14px;
            margin-right: 10px;
          }
        }
      }
    }

    .product-btn-bottom {
      a.btn.btn-primary.active {
        font-size: 14px;
      }
    }

    .img-security {
      img {
        width: 13em;
      }
    }
  }

  section.logo-company {
    h6 {
      font-size: 21px;
    }
  }

  section.product-advantages {
    .wrapper-composition {

      .title-ingredients {
        p {
          font-size: 15px;
        }
      }

      ul {
        padding-left: 45px;

        li.item {
          font-size: 16px;
        }

        li.ingredients,li.no-ingredients {
          h6 {
            &:before {
              left: 22px;
            }
          }
        }
      }

    }
  }

  section.product-reviews {
    h2 {
      font-size: 21px;
      margin-bottom: 40px;
    }

    .user-card {
      .user-text {
        img {
          left: 37%;
          top: 50%;
          width: 80px;
        }
      }
    }
  }

  section.product-buy {
    .card-wrapper {
      .card-product {
        .buy-block {
          padding-top: 15px;
          padding-bottom: 15px;

          .btn-prise-group {
            .btn-prise {
              label {
                span {
                  font-size: 11px;

                  span.prise {
                    font-size: 21px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

