@import "fonts.css";

@mixin btn-stile {
  font-family: Chivo-Bold;
  text-transform: uppercase;
  background: rgb(0, 254, 56);
  background: linear-gradient(180deg, rgba(0, 254, 56, 1) 0%, rgba(82, 229, 122, 1) 40%, rgba(64, 130, 31, 1) 100%);
  border: 1px solid;
  border-radius: 10px;
  padding: 14px 45px;
  box-shadow: none;
}

header {
  background: #8a8a8a;

  span {
    font-family: SofiaPro-Light;
    font-size: 15px;
    color: #fff;
  }

  span.timer-news {
    i {
      font-size: 21px;
    }
  }
}

section.banner-product {
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: url("../images/bg-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;


  .product-btn {
    a.btn.btn-primary.active {
      @include btn-stile;
      font-size: 18px;
    }
  }

  h1 {
    font-family: SofiaPro-Black;
    font-size: 30px;
    color: #cf4877;
    margin: 0;
  }

  p {
    font-family: SofiaPro-Black;
    font-size: 37px;
    color: #cf4877;
  }

  .product-img {
    img {
      position: absolute;
      width: 300px;
      left: -20px;
    }
  }

  .product-text {
    margin-bottom: 80px;

    h2 {
      font-family: SofiaProSemi-Bold;
      font-size: 33px;
      margin-bottom: 20px;

      span {
        font-family: PlayfairDisplay-Regular;
      }
    }

    ul {
      width: 85%;

      li {
        list-style: none;
        font-family: SofiaPro-Light;
        font-size: 24px;
        display: flex;
        align-items: baseline;
        margin-bottom: 15px;
        line-height: 28px;

        &:before {
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          font-size: 24px;
          margin-right: 18px;
          color: #de5e8f;
        }
      }
    }
  }

  .product-btn-bottom {
    a.btn.btn-primary.active {
      @include btn-stile;
      font-size: 30px;
      padding: 12px 70px;
      margin-bottom: 15px;
    }
  }

  .img-security {
    img {
      width: 18em;
    }
  }

}

section.logo-company {
  padding-top: 80px;
  padding-bottom: 70px;
  background-image: url(../images/bg-1.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  h6 {
    margin: 0;
    font-family: SofiaPro-Medium;
    font-size: 40px;
  }
}

section.product-description {
  padding-top: 80px;
  padding-bottom: 85px;

  .product-img {
    img {
      width: 100%;
    }
  }


  p {
    padding: 0 15%;
    text-align: center;
    font-family: SofiaPro-Light;
    font-size: 23px;
  }
}

section.product-advantages {
  .wrapper-composition {
    height: 100%;
    background: #f5d4da;
    padding: 65px 45px 30px 70px;


    .title-ingredients {
      h3 {
        text-align: center;
        font-family: SofiaProSemi-Bold;
        font-size: 42px;

        span {
          font-family: PlayfairDisplay-Regular;
        }
      }

      p {
        font-family: SofiaPro-Regular;
        font-size: 16px;
        text-align: center;
        color: #f18399;
      }
    }

    .ingredients {
      margin-right: 40px;
      margin-bottom: 20px;

      h6 {
        font-family: SofiaProSemi-Bold;
        font-size: 19px;
        color: #666666;

        &:before {
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          left: 50px;
        }
      }

      p {
        font-family: SofiaPro-Light;
        font-size: 19px;
        color: #666666;
      }

      &:last-child {
        margin-bottom: 45px;
      }
    }

    p.item {
      margin-bottom: 25px;
      font-family: SofiaProSemi-Bold;
      font-size: 19px;
      text-align: center;
      color: #f18399;
    }

    .no-ingredients {
      h6 {
        font-family: SofiaProSemi-Bold;
        font-size: 19px;
        color: #666666;

        &:before {
          content: "\f00d";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          left: 50px;
        }
      }

      p {
        font-family: SofiaPro-Light;
        font-size: 19px;
        color: #666666;
      }
    }
  }

  .wrapper-using {
    height: 100%;
    padding: 100px 20px 0;
    background: #f5d4da;

    .title-using {
      margin-bottom: 50px;

      h3 {
        font-family: SofiaProSemi-Bold;
        font-size: 42px;
        text-align: center;
        margin-bottom: 30px;
      }

      p {
        font-family: SofiaPro-Light;
        font-size: 19px;
        color: #666666;
        text-align: center;
        line-height: 21px;

        span {
          font-family: SofiaPro-Regular;
          font-size: 19px;
          text-align: center;
          color: #f18399;
        }
      }

      img {
        width: 100%;
      }
    }

    h3 {
      font-family: SofiaProSemi-Bold;
      font-size: 42px;
      text-align: center;
      margin-bottom: 70px;
    }

    p {
      font-family: SofiaPro-Light;
      font-size: 19px;
      color: #666666;
    }

    p.item {
      font-family: SofiaPro-Regular;
      font-size: 19px;
      color: #f18399;
      padding: 30px 0;
    }

  }
}

section.product-reviews {
  padding-top: 80px;
  padding-bottom: 60px;

  h2 {
    text-align: center;
    font-family: SofiaPro-Medium;
    font-size: 42px;
    margin-bottom: 70px;
  }

  .user-text {
    background-color: #f18399;
    padding: 35px 50px 0;
    height: 250px;
    overflow: hidden;

    p {
      font-family: SofiaPro-Medium;
      font-size: 14px;
      text-align: center;
      color: white;

      sup {
        font-size: 15px;
      }

      span {
        font-size: 15px;
      }
    }

    img {
      position: absolute;
      left: 38%;
      top: 47%;
    }
  }

  .user-info {
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 10px;
  }
}

section.product-buy {
  .card-product {
    .line {
      background-color: #f5d4da;
    }

    .buy-block {
      h3 {
        font-family: SofiaProSemi-Bold;
        color: #666666;
        font-size: 34px;

        sup {
          font-size: 60%;
        }
      }

      h3.item {
        display: inline;
        border-bottom: 3px solid;
      }

      p {
        font-family: SofiaPro-Light;
        color: #666666;
        line-height: 10px;
        font-size: 19px;
      }
    }
  }
}